*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    justify-content: space-between;
}
.navbar{
    background-color: rgb(229, 222, 235);
    box-sizing: border-box;
    position: sticky;
    z-index: 1000;
    top: 0;
    

}
.navbar-wapper{
    display:flex;
    background-color: brown;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.navbar-link{
    gap: 90px;
    display: flex;
    list-style:none ;
    margin-right: 80px;
    font-size: 30px;
}
.navbar-link a{
    text-decoration: none;
    color: rgb(228, 234, 240);
    position: relative;
   
}
.navbar-link a::after{
    background-color: rgb(15, 13, 13);
    content: " ";
    width: 0px;
    height: 3px;
    position: absolute;
    left: 0;
    transition: 0.3s;
    bottom: -5px;
}
.navbar-link a:hover::after{
    width: 100%;
}
.navbar-link a:hover{
    color: rgb(30, 210, 60);
    transition: 2s;
}
      .navbar-home{
        width: 100%;
        height: auto;
      }
      .main {
        background-image: url(../image/coffee1.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 3rem;
      }
      .containt {
        position: relative;
        padding: 10rem 2rem;
        color: white;
        transform-style: preserve-3d;
      }
      .containt h1 {
        font-size: 3.7rem;
        letter-spacing: 2px;
      }
      .containt p {
        color: rgb(202, 199, 199);
      }
      .containt button {
        width: 10rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: rgb(63, 63, 63);
        border-radius: 8px;
        margin-left: 20px;
      }
      .containt button:hover {
        background-color: rgb(175, 126, 34);
        color: black;
        box-shadow: 5px 5px 15px gray;
      }
      .card-main {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
      }
      .card {
        width: 250px;
        height: 300px;
        border: 1px solid gray;
        box-shadow: 5px 5px 15px black;
        border-radius: 1.5rem;
        padding: 10px;
        background-color: rgb(53, 52, 52);
      }
      .card:hover {
        transform: scale(1.05);
        transition: 0.5;
      }
      img {
        width: 100%;
        height: 150px;
        border-radius: 1.5rem;
      }
      .cont h2 {
        color: rgb(224, 221, 221);
        font-style: oblique;
      }
      .cont p {
        color: rgb(160, 158, 158);
      }
      .btn {
        border: 1px solid wheat;
        width: 3rem;
        background-color: rgb(53, 52, 52);
        color: white;
        margin-left: 170px;
      }

      /* background2 */
      .main1 {
        perspective: 10px;
        background-image: url(../image/coffeebackground2.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 3rem;
      }
      .containt1 {
        position: relative;
        color: white;
        padding: 6rem 3rem;
        font-size: 1.5rem;
        font-family: cursive;
      }
      .containt1 h1 {
        font-size: 8rem;
        font-family: fantasy;
      }
      .containt1 button {
        padding: 0.8rem 1.2rem;
        background-color: goldenrod;
        border: 2px goldenrod;
        border-radius: 20px;
        font-weight: bold;
      }
      .containt2 {
        background-color: brown;
        width: 100%;
        height: auto;
        padding: 5rem 4rem;
        border-radius: 10rem;
      }
      .containt2 h2 {
        font-size: 5rem;
        text-shadow: 5px 5px 10px;
      }
      .containt2 ul {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-style: oblique;
      }
      .card-top{
        margin-top: -5rem;
      }
      .cont1 {
        text-align: center;
        color: goldenrod;
        font-size: 20px;
        font-family: monospace;
      }
      .price {
        color: wheat;
        font-style: oblique;
        font-weight: bold;
        font-size: 1.3rem;
      }
       .btn1 {
        display: flex;
        justify-content: space-between;
      }
      .btn2 {
        border: 1px solid wheat;
        width: 5rem;
        background-color: rgb(53, 52, 52);
        color: white;
        padding: 5px;
      }
     
      /* background3 */
      .main2 {
        display: flex;
        background-image: url(../image/backgroundcoffee4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        width: 100%;
        height: 70vh; 
        justify-content: center; 
        /* align-items: center; */
        padding: 3rem;
      }
      .containt3 h1{
        font-size: 6rem;
        color: white;
        text-transform: uppercase;
        text-shadow: 5px 5px 15px black;
      }
      .containt3 p{
        font-size:1.5rem ;
        font-style: oblique;
        color: white;
      }
      .input{
      width: 350px;
      margin-top: 10px;
      padding: 20px;
      }
      .btn3{
        padding: 15px 25px;
        background-color: grey;
        border: 1px solid gray;
        border-radius: 7rem;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      .btn3:hover{
        background-color: black;
        box-shadow: 2px 2px 5px white;
      }


